<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=width,initial-scale=1.0">
    <title>关于我</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>
<!--导航-->
<nav   th:replace="_fragments :: menu(5)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">分类</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" class=" m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
            <a href="#" class="active m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
            <div class="m-item right item m-mobile-hide">
                <div class=" ui icon inverted transparent input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </div>

</nav>
<!--中间内容-->
<div class="m-container m-padded-tb-big ">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="eleven wide column">
                <img src=https://unsplash.it/800/600?image=1005  alt="" class="ui round image">
            </div>
            <div class="five wide column">
                <div class="ui top attached segment">
                   <div class="ui header">关于我</div>
                </div>
                <div class="ui  attached segment">

                  <p class="m-text">说不上对于某样东西特别热爱，但是爱的是正在发生的每一件事。从前的种种都是烟消云散。以后的每天让自己充实。</p>
                    <p class="m-text">好好工作，努力学习。赚钱，养家，糊口...</p>
                </div>
                <div class="ui  attached segment">
                  <div class="ui orange basic left pointing label">唱</div>
                    <div class="ui orange basic left pointing label">跳</div>
                    <div class="ui orange basic left pointing label">rap</div>
                    <div class="ui orange basic left pointing label">篮球</div>
                    <div class="ui orange basic left pointing label">wj</div>
                </div>
                <div class="ui  attached segment">
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">Java</div>
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">SSM</div>
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">SpringBoot</div>
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">Html</div>
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">Mysql</div>
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">Linux</div>
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">Redis</div>
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">Dubbo</div>
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">Negix</div>
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">fastdfs</div>
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">zookeeper</div>
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">vue</div>
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">...</div>
                </div>
                <div class="ui bottom attached segment">
                    <a href="https://github.com/TangFangrun" class="ui circular icon button"><i class="github icon"></i></a>
                    <a href="" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
                    <a href="" class="ui qq circular icon button" data-content="578909881"><i class="qq icon"></i></a>
                </div>
                <div class="ui wechat-qr flowing popup  transition hidden">
                    <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" alt="" class="ui rounded image" style="width: 150px">
                </div>
            </div>
        </div>

    </div>
</div>
<!--底部-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">

                        <img src="../static/images/wechat.jpg"   th:src="@{/images/wechat.jpg}"class="ui rounded image" width="110px" alt="">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-thin">用户故事（User Story）</a>
                    <a href="#" class="item m-text-thin">你懂你自己吗</a>
                    <a href="#" class="item m-text-thin">Springboot从入门到放弃</a>
                </div>

            </div>
            <div class="four wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-thin">Email：tangfangrun@163.com</a>
                    <a href="#" class="item m-text-thin">QQ：578909881</a>
                    <a href="#" class="item"></a>
                </div>

            </div>


            <div class="six wide column">
                <h4 class="ui inverted header  m-text-thin m-text-spaced">Rain</h4>
                <p class="m-text-thin m-text-spaced  m-opacity-mini">
                    可能这个世界确实存在太多的不真实，但是既然必须在这种环境下活下去。就得改变自己。如果你觉得改变自己太难，
                    那你就变更优秀，通过自己，改变别人</p>
            </div>
        </div>
        <div class="m-text-thin m-text-spaced  m-opacity-tiny ui inverted section divider">
            <p class="">Copyright © 2020-2021 ApeNixX All Rights Reserved V.3.1.3 渝ICP备20013507号</p>
        </div>
    </div>


</footer>


<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->

<script th:inline="javascript">
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.wechat').popup({
        popup : $('.wechat-qr'),
        position: 'bottom center'
    });
    $('.qq').popup();

</script>

</body>
</html>